#background{
    background-image: radial-gradient(#002051, black);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none; 
    color: inherit; 
  }

/* config da barra */
.app_bar{
    display: flex;
    justify-content: space-around;
    width: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
}
.avatar{
    display: flex;
    height: 50px;
    width: 50px;
    margin-top: 1%;
    cursor: pointer;
     
    
}
.bar{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 95%;
    
    
    
}
#icone_bar{
        width: 20px;  
        height: 20px; 
        cursor: pointer; 
}

#titulo_bar{
    color: gray;
    font-family: "Quicksand";
    font-size: 13px;
    margin-left: 2%;
    
}


/* config da barra */

/* config da classe .cabecalho */
    .Fonte_titulo {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    }


    .cabecalho{
        text-align: center;
        margin-top: 12%;
    }

    #logo_infinity{
        width: 120px; 
    }

    #titulo_cabecalho{
        font-family: "Quicksand";
        color: white;
        
    }

/* config da classe .cabecalho */

/* config da barra pesquisa */

.barra_pesquisa{
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    height: 19vh; 
    bottom: 20px;
    width: 100%;
    position: absolute;
}
.borda_barra {
    display: flex;
    align-items: center;
    border: 1px solid white; 
    border-radius: 10px;
    width: 50%;
}

#barra{
    flex-grow: 1;
    height: 40px;
    border-radius: 5%;
    border: none;
    background-color: rgba(0, 0, 0, 0.459);
    outline: none;
    padding: 0 10px;
    border-radius: 5px;
    margin-left: 6px;
    color: white;
}

/* Compatibilidade com navegadores mais antigos */
#barra::-webkit-input-placeholder {
    color: white;
    font-family: "Quicksand";
    
}

#barra:-moz-placeholder {
    color: white;
    font-family: "Quicksand";
}

#barra::-moz-placeholder {
    color: white;
    font-family: "Quicksand";
}

#barra:-ms-input-placeholder {
    color: white;
    font-family: "Quicksand";
}

#icone_barra{
    width:20px;
    height:20px;
    cursor: pointer;
}

#container_icone{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
    border-radius: 5px;
    width: 35px;
    height: 35px;
    margin: 5px;
}


/* config da barra pesquisa */

/* config do container de consultas */
.agrupamento_container{
    display: flex;
    align-items: center;
    flex-direction: row;
    position: absolute;
    top: 120px;
    left: 10px;
}

.container_consultas{
    margin-left: -300px;
    width: 350px;
    height: 550px;
    background-color: rgba(0, 0, 0, 0.459);
    /* margin-top: 5%; */
    border-radius: 5%;
    border: 1px solid white;
    transition-duration: 1.0s;
    overflow-y: hidden;
    z-index: 10;
    opacity: 0;
}
.container_consultas:hover {
    overflow-y: auto;
    margin-left: 0px;
    opacity: 1;
    
}
.container_consultas::-webkit-scrollbar {
    width: 12px; /* width of the entire scrollbar */
    
}
  

.container_consultas::-webkit-scrollbar-thumb {
    background-color: #EADDFF;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid rgba(137, 43, 226, 0.377) ; 
    
  }


.titulo_container{
    margin-left: 30px;
    display: flex;
    align-items: center;
   
}
#seta_titulo{
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: 7%;
    transition: all 0.5s ease-in-out 0.2s;
}

.container_consultas:hover #titulo_consultas{
    visibility: hidden;
}

.container_consultas:hover #seta_titulo{
    transform: rotate(180deg);
}

#titulo_consultas{
    color: white;
    font-family: "Quicksand";
}
.lista_consulta{
    display: flex;
    margin-left: 30px;
    margin-top: 20px;    

}


.item_lista{
    background-color:#EADDFF;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
 
}
#texto_lista{
    color: white;
    font-family: "Quicksand";
    margin-left: 4%;
}

#titulo_item{
    margin: 0;
    font-family: "Quicksand";
}


/* config do container de consultas */