#background{
    background-image: radial-gradient(#002051, black);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none; 
    color: inherit; 
  }

/* configuracao container principal */
.container_box{
    text-align: center;
    margin-top: 12%;
    /* padding-left: 35%;
    position: absolute; */
}
.container_login{
    margin-top: 5%;
    height: 300px;
    width: 420px;
    background-color: #171819;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#img_logo{
    height: 55px;
}

#input_formulario{
    width: 300px;
    height: 50px;
    margin-bottom: 25px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid #723EEC;
}

#seta_formulario{
    margin-top: 10%;

}
/* configuracao container principal */

/* Compatibilidade com navegadores mais antigos */
/* #input_formulario::-webkit-input-placeholder {
    color: white;
    font-family: "Quicksand";
    
}

#input_formulario:-moz-placeholder {
    color: white;
    font-family: "Quicksand";
}

#input_formulario::-moz-placeholder {
    color: white;
    font-family: "Quicksand";
}

#input_formulario:-ms-input-placeholder {
    color: white;
    font-family: "Quicksand";
} */